<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NClass.CodeGenerator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NClass.CodeGenerator.Settings>
            <setting name="IndentSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UseTabsForIndents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSharpImportList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>System</string>
                        <string>System.Collections.Generic</string>
                        <string>System.Text</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="JavaImportList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>java.io.*</string>
                        <string>java.util.*</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SolutionType" serializeAs="String">
                <value>VisualStudio2008</value>
            </setting>
            <setting name="DestinationPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseNotImplementedExceptions" serializeAs="String">
                <value>True</value>
            </setting>
        </NClass.CodeGenerator.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
