<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NClass.GUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="NClass.GUI.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <NClass.GUI.Settings>
      <setting name="DefaultLanguageName" serializeAs="String">
        <value>CSharp</value>
      </setting>
      <setting name="UILanguage" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RememberOpenProjects" serializeAs="String">
        <value>True</value>
      </setting>
    </NClass.GUI.Settings>
    <NClass.GUI.WindowSettings>
      <setting name="WindowPosition" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="IsWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClientSplitterDistance" serializeAs="String">
        <value>650</value>
      </setting>
      <setting name="ShowModelExplorer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNavigator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>900, 700</value>
      </setting>
      <setting name="ToolsSplitterDistance" serializeAs="String">
        <value>380</value>
      </setting>
    </NClass.GUI.WindowSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins;Lang"/>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
