<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="NClass" Manufacturer="NClass" Language="1033" Version="2.0.4.0" UpgradeCode="5a74ead8-4152-4fd6-9382-4b4e58252e52">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="NClass" Title="NClass Core Components" Level="1">
      <ComponentGroupRef Id="CG_CoreComponents" />
      <ComponentGroupRef Id="CG_Languages"/>
      <ComponentGroupRef Id="CG_Plugins"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="NClass">
          <Directory Id="LANG_DE" Name="de" />
          <Directory Id="LANG_ES" Name="es" />
          <Directory Id="LANG_HU" Name="hu" />
          <Directory Id="LANG_PTBR" Name="pt-BR" />
          <Directory Id="LANG_RU" Name="ru" />
          <Directory Id="LANG_ZHCN" Name="zh-CN" />
          <Directory Id="PLUGINS_TEMPLATES_FOLDER" Name="Templates"/>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CG_CoreComponents" Directory="INSTALLFOLDER">
      <Component Id="C_NClass.CodeGenerator.dll" Guid="A26D8AC2-7F32-4D1B-A600-D421F2AE5FD0">
        <File Source="files/NClass.CodeGenerator.dll" />
      </Component>
      <Component Id="C_NClass.Core.dll">
        <File Source="files/NClass.Core.dll"/>
      </Component>
      <Component Id="C_NClass.CSharp.dll">
        <File Source="files/NClass.CSharp.dll"/>
      </Component>
      <Component Id="C_NClass.DiagramEditor.dll">
        <File Source="files/NClass.DiagramEditor.dll"/>
      </Component>
      <Component Id="C_NClass.exe">
        <File Source="files/NClass.exe" />
      </Component>
      <Component Id="C_NClass.Java.dll">
        <File Source="files/NClass.Java.dll"/>
      </Component>
      <Component Id="C_NClass.Translations.dll">
        <File Source="files/NClass.Translations.dll"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="CG_Languages">
      <Component Id="C_LangDe" Directory="LANG_DE">
        <File Source="files/de/NClass.Translations.resources.dll" Id="F_de_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangEs" Directory="LANG_ES">
        <File Source="files/es/NClass.Translations.resources.dll" Id="F_es_NClass.Translations.resources.dll" />
      </Component>
      <Component Id="C_LangHu" Directory="LANG_HU">
        <File Source="files/hu/NClass.Translations.resources.dll" Id="F_hu_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangPtBr" Directory="LANG_PTBR">
        <File Source="files/pt-BR/NClass.Translations.resources.dll" Id="F_pt_br_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangRu" Directory="LANG_RU">
        <File Source="files/ru/NClass.Translations.resources.dll" Id="F_ru_NClass.Translations.resources.dll" />
      </Component>
      <Component Id="C_LangZhCn" Directory="LANG_ZHCN">
        <File Source="files/zh-cn/NClass.Translations.resources.dll" Id="F_zh_cn_NClass.Translations.resources.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="CG_Plugins" Directory="INSTALLFOLDER">
      <Component Id="C_AssemblyImport.dll">
        <File Source="files/Plugins/AssemblyImport.dll" />
      </Component>
      <Component Id="C_NReflect.dll">
        <File Source="files/Plugins/NReflect.dll" />
      </Component>
      <Component Id="C_PDFExport.dll">
        <File Source="files/Plugins/PDFExport.dll" />
      </Component>
      <Component Id="C_PdfSharp.dll">
        <File Source="files/Plugins/PdfSharp.dll" />
      </Component>
      <ComponentGroupRef Id="CG_PluginTemplates"/>
    </ComponentGroup>
    <ComponentGroup Id="CG_PluginTemplates">
      <Component Id="C_Csproj.Template" Directory="PLUGINS_TEMPLATES_FOLDER">
        <File Source="files/Templates/csproj.template" />
      </Component>
      <Component Id="C_Sln.Template" Directory="PLUGINS_TEMPLATES_FOLDER">
        <File Source="files/Templates/sln.template" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
