<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="NClass" Manufacturer="NClass" Language="1033" Version="2.0.4.0" UpgradeCode="5a74ead8-4152-4fd6-9382-4b4e58252e52">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="NClass" Title="NClass Core Components" Level="1">
      <ComponentGroupRef Id="CG_CoreComponents" />
      <ComponentGroupRef Id="CG_Languages"/>
      <ComponentGroupRef Id="CG_Plugins"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="NClass">
          <Directory Id="LANG_DE" Name="de" />
          <Directory Id="LANG_ES" Name="es" />
          <Directory Id="LANG_HU" Name="hu" />
          <Directory Id="LANG_PTBR" Name="pt-BR" />
          <Directory Id="LANG_RU" Name="ru" />
          <Directory Id="LANG_ZHCN" Name="zh-CN" />
          <Directory Id="PLUGINS_TEMPLATES_FOLDER" Name="Templates"/>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
