<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Icon Id="I_DiagramIcon" SourceFile="$(var.SolutionDir)icons\diagram.ico" />
    <ComponentGroup Id="CG_CoreComponents" Directory="BINFOLDER">
      <Component Id="C_NClass.Core.dll">
        <File Source="$(var.Core.TargetPath)" />
      </Component>
      <Component Id="C_NClass.CSharp.dll">
        <File Source="$(var.CSharp.TargetPath)" />
      </Component>
      <Component Id="C_NClass.DiagramEditor.dll">
        <File Source="$(var.DiagramEditor.TargetPath)" />
      </Component>
      <Component Id="C_NClass.exe">
        <File Source="$(var.GUI.TargetPath)" Id="nclass_exe"/>
        <!-- https://stackoverflow.com/questions/2772452/how-to-associate-application-with-existing-file-types-using-wix-installer -->
        <ProgId Id="NClass.Document" Description="NClass project File" Icon="I_DiagramIcon" Advertise="yes">
          <Extension Id="ncp">
            <Verb Id="open" Command="Open with NClass" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="application/ncp" Default="yes" />
          </Extension>
        </ProgId>
      </Component>
      <Component Id="C_NClass.Java.dll">
        <File Source="$(var.Java.TargetPath)"/>
      </Component>
      <Component Id="C_diagram.ico">
        <File Source="$(var.SolutionDir)icons\diagram.ico"  />
      </Component>
      <Component Id="C_app.config">
        <File Source="$(var.GUI.TargetDir)NClass.exe.config" />
      </Component>
      <Component Id="C_Octokit.dll">
        <File Source="$(var.GUI.TargetDir)Octokit.dll" />
      </Component>

      <ComponentGroupRef Id="CG_CodeGenerator"/>
    </ComponentGroup>

    <ComponentGroup Id="CG_CodeGenerator" Directory="BINFOLDER">
      <Component Id="C_NClass.CodeGenerator.dll">
        <File Source="$(var.CodeGenerator.TargetPath)" />
      </Component>
      <ComponentGroupRef Id="CG_CodeGeneratorTemplates" />
    </ComponentGroup>

    <ComponentGroup Id="CG_CodeGeneratorTemplates">
      <Component Id="C_Csproj.Template" Directory="TEMPLATES_FOLDER">
        <File Source="$(var.CodeGenerator.ProjectDir)\Templates\csproj.template" />
      </Component>
      <Component Id="C_Sln.Template" Directory="TEMPLATES_FOLDER">
        <File Source="$(var.CodeGenerator.ProjectDir)\Templates\sln.template" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
