<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CG_Languages">
      <Component Id="C_Lang" Directory="LANG_FOLDER">
        <File Source="$(var.Translations.TargetPath)" Id="F_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangDe" Directory="LANG_DE_FOLDER">
        <File Source="$(var.Translations.TargetDir)de\NClass.Translations.resources.dll" Id="F_de_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangEs" Directory="LANG_ES_FOLDER">
        <File Source="$(var.Translations.TargetDir)es\NClass.Translations.resources.dll" Id="F_es_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangHu" Directory="LANG_HU_FOLDER">
        <File Source="$(var.Translations.TargetDir)hu\NClass.Translations.resources.dll" Id="F_hu_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangPtBr" Directory="LANG_PTBR_FOLDER">
        <File Source="$(var.Translations.TargetDir)pt-BR\NClass.Translations.resources.dll" Id="F_ptBR_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangRu" Directory="LANG_RU_FOLDER">
        <File Source="$(var.Translations.TargetDir)ru\NClass.Translations.resources.dll" Id="F_ru_NClass.Translations.resources.dll"/>
      </Component>
      <Component Id="C_LangZhCn" Directory="LANG_ZHCN_FOLDER">
        <File Source="$(var.Translations.TargetDir)zh-cn\NClass.Translations.resources.dll" Id="F_zhcn_NClass.Translations.resources.dll"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
