<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NClass.DiagramEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NClass.DiagramEditor.Settings>
            <setting name="DiagramWidth" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DiagramHeight" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="UsePrecisionSnapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowChevron" serializeAs="String">
                <value>AsNeeded</value>
            </setting>
            <setting name="ShowType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowParameterNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInitialValue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseClearType" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="UseClearTypeForImages" serializeAs="String">
                <value>False</value>
            </setting>
        </NClass.DiagramEditor.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
